<!DOCTYPE html>
<html lang="en">

<head>

  <title>Archive</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap4 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <!-- Icons -->
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {{!-- SweetAlert --}}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


  {{!-- Favicon --}}
  <link rel="icon" href="/img/iss-logo.png" />

</head>

<body>

  <!-- Header -->
  <nav id="page-header">
    <div class="title">
      <img src="/img/iss-logo.png" id="header-logo">
      <h3 id="header-title">INFORMATION SYSTEMS SOCIETY</h3>
    </div>

    <!-- Start of  Dropdown for settings -->

    <!-- Start of dropdown for notifications -->
    <div class="settings-dropdown">
      <div class="btn-group">
        <button type="button" title="Notification" data-toggle="dropdown" class="button-settings" aria-haspopup="true" aria-expanded="false"
          id="settings-btn">
          <span class="material-icons">
            notifications_none
          </span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" id="notif-whole">
          <div class="notif-whole">
            <h2 class="notif-title"><b>Notifications</b></h3>
              <h4 class="notif-recent"><b>Recent</b></h5>
                <br>


                {{#each activities}}
                <div class="notif-div">
                  <p class="notif-txt">{{user_firstName}} {{user_lastName}} <span id="activity">{{activity}}</span>
                    {{document_name}}<br><span class="notif-date">{{date}}</span></p>

                  <hr>
                </div>
                {{/each}}

          </div>
        </div>
      </div>
      <!-- End of dropdown for notifications -->

      <!--Logout contents -->
      <div class="btn-group">
        <button type="button" title="Notification" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" id="settings-btn">

        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button" data-toggle="modal" data-target="#forgot-pass"><span
              class="material-icons" id="dropdown-icons">
              lock
            </span>Security</button>
          <button class="dropdown-item" type="button" onclick="logout()"><span class="material-icons"
              id="dropdown-icons">
              exit_to_app
            </span>Logout</button>
        </div>
      </div>
    </div>
    <!-- END Dropdown -->
  </nav>
  <!-- END of Header -->

  <!-- Start of Content -->
  <div class="container-fluid" id="main-container">

    <!-- Title -->
    <div class="main-title">
      <h1>Archive</h1>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <div class="main-pages">
              <a href="/home"><span class="material-icons" id="menu-icons">
                  description
                </span>Documents
              </a>
            </div>
          </li>
          <li class="nav-item">
            <div class="main-pages">
              <a href="/archive"><span class="material-icons" id="menu-icons">
                  archive
                </span>Archive
              </a>
            </div>
          </li>
        </ul>
        <div class="create-docbtn">
          <input id="custom-filter" class="form-control" placeholder="Search" type="text" />
        </div>
      </div>
    </nav>
    <!-- START of table -->
    <div class="tablemain">

      <table id="mydatatable">
        <thead>
          <tr>
            <th style="width: 4%">ID</th>
            <th style="width: 20%">Title</th>
            <th style="width: 13%">Event Type</th>
            <th style="width: 20%">Date Updated</th>
            <th style="width: 15%;">Description</th>
            <th style="width: 20%">To be Signed By</th>
            <th style="width: 10%;">Status</th>
            <th style="width: 10%;"></th>
          </tr>
        </thead>

        <tbody>
          {{#each names}}
            <tr>
                <td>{{createDocu_ID}}</td>
                <td>{{createDocu_Title}}</td>
                <td>IICS Week</td>
                <td>{{createDocu_Date}}</td>
                <td>{{createDocu_Notes}}</td>
                <td>{{createDocu_tobeSignedby}}</td>
                <td>{{createDocu_Status}}</td>
                <td style="text-align: center;"><a href="{{{createDocu_Attachment}}}"><button class="download-btn" id="download-btn" title="Download Document"></button></a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <br>
    <!-- END of table -->

    <!-- End of Content -->

    <!-- FOR MODAL -->
    <!-- Modal -->

    <!-- MODAL FOR FORGOT PASSWORD -->
    <div class="modal fade" id="forgot-pass" tabindex="-1" role="dialog" aria-labelledby="createDocTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modal-body">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle">Change Password</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="create-docform">
              <form action="/functions/changePw" method="POST" onsubmit="return validate()">
                <label for="oldpassword" id="createdoc-label">Old Password</label>
                <input type="password" class="modal-input" name="oldpassword" id="oldpassword" required><br>
                <label for="newpassword1" id="createdoc-label">New Password</label>
                <input type="password" class="modal-input" name="newpassword1" id="newpassword1" pattern="^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{7,}$"
            title="Minimum of 7 characters. Should have at least one special character and one number and one UpperCase Letter." required><br>
                <label for="newpassword" id="createdoc-label">Confirm New Password</label>
                <input type="password" class="modal-input" name="newpassword" id="newpassword" required><br>
                <center>
                  <button type="button" class="close-modal" data-dismiss="modal">Close</button>
                  <button type="submit" class="submit-modal">Submit</button>
              </form>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL FOR CREATE DOC -->
    <div class="modal fade" id="createDoc" tabindex="-1" role="dialog" aria-labelledby="createDocTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modal-body">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle">Create a Document</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="create-docform">
              <form action="/upload/upload" enctype="multipart/form-data" method="POST">
                <label for="" id="createdoc-label">Document Title</label>
                <input type="text" class="modal-input" id="createdoc-modal" name="document_title" required><br>
                <!--DI AKO SURE DITO PERO BUBUKSAN NIYA DIRECTORY -->
                <label for="" id="createdoc-label">Upload File</label>
                <input type="file" name="key" single required /></br><br>
                <!--DI AKO SURE DITO PERO BUBUKSAN NIYA DIRECTORY -->
                <label for="" id="createdoc-label">To be Signed by</label>
                <input type="text" class="modal-input" id="sign-modal" name="to_be_signed" required><br>

                <label for="" id="createdoc-label">Note</label>
                <input type="text" class="modal-input" id="note-modal" name="note" required><br>
                <!-- Radio Buttons -->
                <div class="row">
                  <div class="col-3">
                    <label for="">Status</label>
                  </div>
                  <div class="col">
                    <div class="radio-form">
                      <input type="radio" id="complete" name="status" value="Complete" required>
                      <label for="complete">Complete</label><br>
                      <input type="radio" id="in-progress" name="status" value="In Progress">
                      <label for="in-progress">In Progress</label><br>
                      <input type="radio" id="on-hold" name="status" value="On Hold">
                      <label for="on-hold">On Hold</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="close-modal" data-dismiss="modal">Close</button>
                    <button type="submit" class="submit-modal">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
</body>
<!-- Scripts -->

<script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>

<!-- Script for Bootstrap 4 -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

<script src="createDocu.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script>
  $(document).ready(function () {
    var table = $('#mydatatable').DataTable();
    //DataTable custom search field
    $('#custom-filter').keyup(function () {
      table.search(this.value).draw();
    });
  });
</script>

<script>

  $('#mydatatable').DataTable({
    sDom: 'lrtip',
    "bInfo": false,
    bPaginate: false,
    "aaSorting": [],
    columnDefs: [{
      orderable: false,
      targets: [0,4,5,7],
    }]
  });
</script>

<script>
  function validate(){
        var t = document.getElementById("newpassword1").value;
        var te = document.getElementById("newpassword").value;
        
        if(t != te){
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: "Passwords doesn't match!",
          })
          return false;
        }else{
          return true;
        }

      }
</script>
<script>
  function logout() {
    window.location.assign("/logout");
  }
</script>

</html>